default live-amd64
label live-amd64
	menu label ^Iniciar Wadameka Live (amd64)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live config components hostname=wadameka nottyautologin cgroup_enable=memory swapaccount=1 disable=1 disable_ipv6=1 persistence panic=10 quiet splash locales=es_ES.UTF-8 keyboard-layouts=latam timezone=America/Caracas

label live-amd64-failsafe
	menu label ^Iniciar Wadameka Live (A prueba de fallos)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live config noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal radeon.modeset=0 xmodule=vesa
