[Desktop Entry]
Encoding=UTF-8
Name=Instalar Wadameka
Comment=Instala Wadameka desde el live a su equipo.
#Exec=gksu 'x-terminal-emulator -e /usr/bin/refractainstaller-gui'
Exec=refractainstaller-wrapper.sh
Terminal=false
Type=Application
Icon=system
Categories=GNOME;GTK;System;
Name[es_VE]=Instalar Wadameka
